bulkscrubprivacyfirst.json
{
  "name": "BulkDNC - Secured Multi-User",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dnc-scrub",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": true
        }
      },
      "id": "webhook-start",
      "name": "Webhook - File Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, -32]
    },
    
    {
      "parameters": {
        "jsCode": "// CRITICAL: Validate user_id and job_id FIRST\nconst items = $input.all();\nconst item = items[0];\n\nconst body = item.json?.body || item.json;\n\n// Extract and validate required fields\nconst user_id = body.user_id;\nconst job_id = body.job_id;\nconst leads = body.leads;\n\nif (!user_id || !job_id) {\n  throw new Error('SECURITY: Missing user_id or job_id. Request rejected.');\n}\n\nif (!leads || !Array.isArray(leads) || leads.length === 0) {\n  throw new Error('No leads found. Expected body.leads array.');\n}\n\n// Validate UUID format (basic check)\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(user_id) || !uuidRegex.test(job_id)) {\n  throw new Error('SECURITY: Invalid UUID format for user_id or job_id.');\n}\n\nconsole.log(`[JOB ${job_id}] Processing ${leads.length} leads for user ${user_id}`);\n\n// Return isolated job context\nreturn [{\n  json: {\n    user_id,\n    job_id,\n    leads,\n    area_codes: body.area_codes || [],\n    check_duplicates: body.check_duplicates ?? true,\n    timestamp: Date.now()\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate & Isolate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, -32]
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "https://oxumbqxkdgfcbgmmobna.supabase.co/rest/v1/upload_history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.job_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  status: 'processing',\n  total_leads: $json.leads.length,\n  n8n_job_id: $execution.id\n} }}",
        "options": {}
      },
      "id": "update-status-processing",
      "name": "Update Status: Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, -32],
      "credentials": {
        "supabaseApi": {
          "id": "7Q6nqinRRZhyhDXF",
          "name": "Echo Compliance"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// Get job context (already validated)\nconst context = $input.first().json;\nconst leads = context.leads;\nconst job_id = context.job_id;\nconst user_id = context.user_id;\n\nconsole.log(`[JOB ${job_id}] Normalizing ${leads.length} leads`);\n\n// Normalize phone numbers\nconst normalizedLeads = leads.map((lead, index) => {\n  const phoneNumber = lead.phone_number || lead.Phone || lead.PhoneNumber || lead.phone;\n\n  if (!phoneNumber) {\n    return {\n      ...lead,\n      index,\n      normalized_phone: null,\n      validation_error: 'No phone number found'\n    };\n  }\n\n  let cleaned = String(phoneNumber).replace(/\\D/g, '');\n\n  if (cleaned.length === 11 && cleaned.startsWith('1')) {\n    cleaned = cleaned.substring(1);\n  }\n\n  if (cleaned.length !== 10) {\n    return {\n      ...lead,\n      index,\n      original_phone: phoneNumber,\n      normalized_phone: null,\n      validation_error: `Invalid phone length: ${cleaned.length} digits`\n    };\n  }\n\n  return {\n    ...lead,\n    index,\n    original_phone: phoneNumber,\n    normalized_phone: cleaned\n  };\n});\n\n// Remove duplicates if requested\nlet finalLeads = normalizedLeads;\nlet duplicatesRemoved = 0;\n\nif (context.check_duplicates) {\n  const seen = new Set();\n  finalLeads = normalizedLeads.filter(lead => {\n    if (!lead.normalized_phone) return true;\n    \n    if (seen.has(lead.normalized_phone)) {\n      duplicatesRemoved++;\n      return false;\n    }\n    \n    seen.add(lead.normalized_phone);\n    return true;\n  });\n}\n\nconst validLeads = finalLeads.filter(l => l.normalized_phone !== null);\nconst invalidLeads = finalLeads.filter(l => l.normalized_phone === null);\n\nconsole.log(`[JOB ${job_id}] ${validLeads.length} valid, ${invalidLeads.length} invalid, ${duplicatesRemoved} duplicates`);\n\n// Return with job context preserved\nreturn [{\n  json: {\n    job_id,\n    user_id,\n    valid_leads: validLeads,\n    invalid_leads: invalidLeads,\n    duplicates_removed: duplicatesRemoved,\n    timestamp: context.timestamp\n  }\n}];"
      },
      "id": "normalize-dedupe",
      "name": "Normalize & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, -32]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://oxumbqxkdgfcbgmmobna.supabase.co/rest/v1/rpc/bulk_check_dnc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phones: $json.valid_leads.map(l => l.normalized_phone) } }}",
        "options": {}
      },
      "id": "bulk-check-dnc",
      "name": "Bulk Check DNC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1136, -32],
      "credentials": {
        "supabaseApi": {
          "id": "7Q6nqinRRZhyhDXF",
          "name": "Echo Compliance"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst normalized = $('Normalize & Deduplicate').first().json;\nconst dncResults = $input.first().json;\n\nconst job_id = normalized.job_id;\nconst user_id = normalized.user_id;\n\nconsole.log(`[JOB ${job_id}] Scoring ${normalized.valid_leads.length} leads`);\n\n// Create DNC lookup map\nconst dncMap = new Map();\ndncResults.forEach(result => {\n  dncMap.set(result.phone_number, result);\n});\n\n// Calculate risk scores\nconst scoredLeads = normalized.valid_leads.map(lead => {\n  const dncInfo = dncMap.get(lead.normalized_phone);\n  \n  let risk_score = 0;\n  let risk_flags = [];\n  \n  if (dncInfo && dncInfo.is_dnc) {\n    risk_score += 60;\n    risk_flags.push('federal_dnc');\n  }\n  \n  let risk_level;\n  if (risk_score <= 20) risk_level = 'safe';\n  else if (risk_score <= 60) risk_level = 'caution';\n  else risk_level = 'blocked';\n  \n  return {\n    phone_number: lead.normalized_phone,\n    first_name: lead.first_name || lead.First || lead.firstName,\n    last_name: lead.last_name || lead.Last || lead.lastName,\n    email: lead.email || lead.Email,\n    address: lead.address || lead.Address,\n    city: lead.city || lead.City,\n    state: lead.state || lead.State,\n    zip_code: lead.zip_code || lead.zip || lead.Zip,\n    risk_score,\n    risk_level,\n    dnc_status: dncInfo ? dncInfo.is_dnc : false,\n    risk_flags\n  };\n});\n\n// Add invalid leads\nconst invalidLeadsScored = normalized.invalid_leads.map(lead => ({\n  phone_number: lead.original_phone,\n  first_name: lead.first_name || lead.First || lead.firstName,\n  last_name: lead.last_name || lead.Last || lead.lastName,\n  email: lead.email || lead.Email,\n  risk_score: 100,\n  risk_level: 'blocked',\n  dnc_status: false,\n  risk_flags: ['invalid_phone_format'],\n  validation_error: lead.validation_error\n}));\n\nconst allLeads = [...scoredLeads, ...invalidLeadsScored];\n\nconst clean_leads = allLeads.filter(l => l.risk_level === 'safe');\nconst caution_leads = allLeads.filter(l => l.risk_level === 'caution');\nconst blocked_leads = allLeads.filter(l => l.risk_level === 'blocked');\n\nconst processing_time_ms = Date.now() - normalized.timestamp;\n\nconsole.log(`[JOB ${job_id}] Complete: ${clean_leads.length} safe, ${caution_leads.length} caution, ${blocked_leads.length} blocked`);\n\nreturn [{\n  json: {\n    job_id,\n    user_id,\n    summary: {\n      total_leads: allLeads.length,\n      duplicates_removed: normalized.duplicates_removed,\n      clean_leads: clean_leads.length,\n      caution_leads: caution_leads.length,\n      dnc_blocked: blocked_leads.length,\n      processing_time_ms,\n      compliance_rate: ((clean_leads.length / allLeads.length) * 100).toFixed(1)\n    },\n    results: allLeads,\n    clean_leads,\n    caution_leads,\n    blocked_leads\n  }\n}];"
      },
      "id": "calculate-risk",
      "name": "Calculate Risk Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, -32]
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "https://oxumbqxkdgfcbgmmobna.supabase.co/rest/v1/upload_history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.job_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  status: 'completed',\n  total_leads: $json.summary.total_leads,\n  processed_leads: $json.summary.total_leads,\n  clean_leads: $json.summary.clean_leads,\n  caution_leads: $json.summary.caution_leads,\n  dnc_blocked: $json.summary.dnc_blocked,\n  duplicates_removed: $json.summary.duplicates_removed,\n  compliance_rate: parseFloat($json.summary.compliance_rate),\n  processing_time_ms: $json.summary.processing_time_ms,\n  completed_at: new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "update-status-completed",
      "name": "Update Status: Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1584, -32],
      "credentials": {
        "supabaseApi": {
          "id": "7Q6nqinRRZhyhDXF",
          "name": "Echo Compliance"
        }
      }
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  job_id: $json.job_id,\n  summary: $json.summary,\n  results: $json.results\n} }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "return-results",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1808, -32]
    },

    {
      "parameters": {
        "errorMessage": "={{ $json.error.message || 'Unknown error' }}",
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1136, 192],
      "onError": "continueErrorOutput"
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "https://oxumbqxkdgfcbgmmobna.supabase.co/rest/v1/upload_history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Validate & Isolate').first().json.job_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  status: 'failed',\n  error_message: $json.error.message || 'Processing failed'\n} }}",
        "options": {}
      },
      "id": "update-status-failed",
      "name": "Update Status: Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 192],
      "credentials": {
        "supabaseApi": {
          "id": "7Q6nqinRRZhyhDXF",
          "name": "Echo Compliance"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook - File Upload": {
      "main": [
        [
          {
            "node": "Validate & Isolate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Isolate": {
      "main": [
        [
          {
            "node": "Update Status: Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Processing": {
      "main": [
        [
          {
            "node": "Normalize & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Deduplicate": {
      "main": [
        [
          {
            "node": "Bulk Check DNC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Check DNC": {
      "main": [
        [
          {
            "node": "Calculate Risk Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Risk Scores": {
      "main": [
        [
          {
            "node": "Update Status: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Completed": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Update Status: Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "maxConcurrentExecutions": 10,
    "executionTimeout": 300,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}